# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.envs/

# BMAD & AI (Crucial)
_bmad/
_bmad-output/
.gemini/
.ai/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Python & Environments
.venv/
env/
venv/
ENV/
.pytest_cache/

# Local configurations & tools
.editorconfig
.gitattributes
.pre-commit-config.yaml
.readthedocs.yml
gulpfile.mjs
merge_production_dotenvs_in_dotenv.py
docker-compose.dev.yml
docker-compose.docs.yml

# Project Specific
erp_sylla/erp_sylla/media/
Resources/

# Static files generated
project.css
project.min.css
vendors.js
*.min.js
*.min.js.map
Resources/
