# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.envs/

# BMAD & AI (Crucial)
_bmad/
_bmad-output/
.gemini/
.ai/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Python
.venv/
env/
venv/
ENV/
.pytest_cache/
