{% if is_paginated %}
<div class="card-footer bg-white py-3 border-0">
    <nav aria-label="Pagination">
        <ul class="pagination pagination-sm justify-content-center mb-0" 
            hx-boost="true" 
            hx-target="#content" 
            hx-select="#content" 
            hx-swap="innerHTML show:window:top">
            
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link rounded-pill px-3 me-2 border-0 bg-light text-dark" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <i class="fas fa-chevron-left small"></i>
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link rounded-pill px-3 border-0 shadow-sm">
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link rounded-pill px-3 ms-2 border-0 bg-light text-dark" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <i class="fas fa-chevron-right small"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
